@font-face {
  font-family: 'ErasITCDemi';
  src: url('../fonts/ErasITC-Demi.eot');
  src: url('../fonts/ErasITC-Demi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ErasITC-Demi.woff2') format('woff2'),
  url('../fonts/ErasITC-Demi.woff') format('woff'),
  url('../fonts/ErasITC-Demi.ttf') format('truetype'),
  url('../fonts/ErasITC-Demi.svg#ralewaythin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ErasITCLight';
  src: url('../fonts/ErasITC-Light.eot');
  src: url('../fonts/ErasITC-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ErasITC-Light.woff2') format('woff2'),
  url('../fonts/ErasITC-Light.woff') format('woff'),
  url('../fonts/ErasITC-Light.ttf') format('truetype'),
  url('../fonts/ErasITC-Light.svg#ralewaythin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ErasITCMedium';
  src: url('../fonts/ErasITC-Medium.eot');
  src: url('../fonts/ErasITC-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ErasITC-Medium.woff2') format('woff2'),
  url('../fonts/ErasITC-Medium.woff') format('woff'),
  url('../fonts/ErasITC-Medium.ttf') format('truetype'),
  url('../fonts/ErasITC-Medium.svg#ralewaythin') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #ebebeb;
}

/*classes that overides bootstrap default classes */
.my-row{
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}
.my-col{
  padding: 0;
}
.container{
  max-width: 1000px;
  width: 100%;
}
.modal-content{
  border-radius: 0;
}
.modal-dialog{
  max-width: 800px;
  width: 100%;
}

.my-custom-col{
  padding: 0 0 0 10px;
}
/*classes that overides bootstrap default classes */

/*fonts*/
$fontDefault: ErasITCDemi;
$fontLight: ErasITCLight;
$fontMedium: ErasITCMedium;
/*fonts*/